.body {
    background-color: rgb(6, 1, 11);
    /* background-image: url("Navbar.jpg");
    filter: blur(8px); */
}

/* @media (min-width)&&(max-width : 1100px) {
    font-size: ;    
} */
/* @media screen and (max-width:600px) {
   body{
     display: flex;
    }   
 } 
  */
.body nav {
    position: fixed;
}

.navbar {
    /* background-color: rgb(6, 1, 11); */
    /* transition: color .3s ease-in-out; */
    /* margin-right: 30px; */
    margin-left: 15px;
    /* width: 96vw; */
    display: flex;
    height: 85px;
    filter: blur(none);
    background-color: rgba(24, 24, 24, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(24, 24, 24, 0.3);
    border-bottom-right-radius: 8%;
    border-bottom-left-radius: 8%;
    z-index: 2;
}



.nav1 {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    padding-left: 10px;
    text-decoration: none;
    color: white;

}


.navhover :hover{
    box-shadow: 0px 6px 10px rgb(195, 179, 179);
    background-color: white;
    height: 50px;
    transform: scale(1.0);
    text-shadow: 0px 4px 4px black;
    color: black;
}

#i {
    padding: 10px 20px 1px 40px;
    font-size: 21px;
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif !important;
    font-weight: 580;
    text-decoration: none;
    color: white;
}


 #i1 {
    padding: 10px 20px 1px 40px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    transition: 0.3s;


}

#ii1 {
    padding: 10px 20px 1px 40px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    transition: 0.3s;

}


#iii1 {
    padding: 10px 20px 1px 40px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    transition: 0.3s;

}


#bordervertical {
    margin: 10px 10px 5px 10px;
    border: 1px solid white;
    height: 40px;

}

#si1 {
    border: inherit;
    height: 32px;
    width: 68px;
    transition: 0.3s;
}

#i2 {
    padding: 10px 20px 5px 30px;
    font-size: 24px;
    transition: 0.3s;
}

#i2 :hover{
    padding: 2px;
    height: 32px;
    width: 68px;
    border: inherit;
    box-shadow: 0px 2px 2px white;
    background-color: blue;
    color: black;

}

#ii2 {
    padding: 10px 20px 5px 30px;
    font-size: 24px;
    text-decoration: none;
    color: white;
}


.nav2 {
    display: flex;
    align-items: flex-end;
    justify-content: right;
}

#searchValue {
    visibility: hidden;
}

/* .button :hover 
    transform: scale(1.01);

} */

#btn {
    border: inherit;
    background-color: inherit;
    margin: 10px 10px 5px 20px;
    color: white;
    padding: 15px;
    transition: 0.3 ease;


}

.button :hover {
    transform: scale(1.35);

}

#si2 {
    height: 20px;
    width: 20px;
}

#btn1 {
    border: inherit;
    background-color: inherit;
    margin: 10px 10px 5px 20px;
    color: white;
    padding: 15px;

}

#si3 {
    height: 20px;
    width: 20px;
}

#btn2 {
    border: inherit;
    background-color: inherit;
    margin: 10px 10px 5px 20px;
    color: white;
    padding: 15px;

}

#si4 {
    height: 20px;
    width: 20px;
}

#btn3 {
    border: inherit;
    background-color: inherit;
    margin: 5px 5px 10px 5px;
    padding: 5px;

}

#si5 {
    height: 35px;
    width: 35px;

}

.mainsec1 {
    position: relative;
}

.mainsec2 {
    position: absolute;
    left: 80px;
    bottom: 200px;
}

#pm1 {
    border: 1px solid rgb(6, 1, 11);
    width: 99vw;
    height: 80vh;

}

#name1 {
    /* border: 1px solid rgb(6, 1, 11); */
    width: 350px;
    height: 190px;

}

div #ind {
    margin-top: 10px;
    color: rgba(36, 252, 101, 0.849);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

div .movieline {
    color: white;
    /* border: 1px solid white;
    width: 60px; */
}

.playbtn {
    width: 200px;
    padding: 9px;
    margin-top: 15px;
    filter: blur(none);
    background-color: rgba(86, 76, 76, 0.2);
    box-shadow: 0 4px 30px rgba(68, 64, 64, 0.1);
    box-shadow: 0 4px 30px rgba(63, 60, 60, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(24, 24, 24, 0.3);
    border-radius: 5%;
  
}


.playbtn #ply {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    
    
}


.playbtn .play-icon{
    color: white;

}


.playbtn #wtch {
    color: white;
    position: relative;

}

.content1 {
    border: 1px solid rgb(6, 1, 11);
    margin: 50px 0px 0px 50px;
    color: aliceblue;
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif !important;
    z-index: 1;

}

.content3 {
    border: 1px solid rgb(6, 1, 11);
    margin: 50px 0px 0px 0px;
    color: aliceblue;
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif !important;
    z-index: 1;


}

.img1{ 
    display: flex;
    flex-wrap: wrap;
    
    gap: 30px;

}

.img1 :hover {
    transform: scale(1.11);
}

@media(max-widwth : 164.2mm){
    #m1{
        height: 90px;
        width: 150px;
}  
    #m2{
        height: 90px;
        width: 150px;   
}
    #m3{
        height: 90px;
        width: 150px;
}
    #m4{
        height: 90px;
        width: 150px;
}
    #m5{
        height: 90px;
        width: 150px;
}
        
    }
    


#m1 {
    gap: 30px;
    border-radius: 8%;
    height: 130px;
    width: 250px;
}

#m2 {
    gap: 30px;
    border-radius: 8%;
    height: 130px;
    width: 250px;

}

#m3 {
    gap: 30px;
    border-radius: 8%;
    height: 130px;
    width: 250px;

}

#m4 {
    gap: 30px;
    border-radius: 8%;
    height: 130px;
    width: 250px;

}

#m5 {
    gap: 30px;
    border-radius: 8%;
    height: 130px;
    width: 250px;

}

.content2 {
    border: 1px solid rgb(6, 1, 11);
    margin: 50px 0px 0px 50px;
    color: aliceblue;
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif !important;
    z-index: 1;
}

.img2{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.language {
    height: 130px;
    width: 250px;

}

.img3 {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.Poriginal {
    border-radius: 8%;
    height: 360px;
    width: 250px;
}

footer {
    background-color: inherit;
    border: 1px solid inherit;
    margin: 40px 0px 0px 0px;
}

.ftr div {

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.ftr span {
    color: #666666;
}